<section class="container">
<main role="main" class="container">
= simple_form_for(@team) do |f|
  = f.input :name, label: 'Team Name'
  = f.input :about_team
  = f.button :submit, button_html: { class: 'btn btn-primary' }
</main>
<br>
<br>
</section>
