<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Current Leaderboard</p>
  </div>
</section>

<br>
<br>
<br>
<section class="container">
  <h2>Team Leaderboard</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><h3><strong>Rank</strong></h3></th>
        <th scope="col"><h3><strong>Team</strong></h3></th>
        <th scope="col"><h3><strong>Score</strong></h3></th>
      </tr>
    </thead>
    <tbody>
      <% @no = 0 %>
      <% for i in @scores.sort_by {|_key, value| value}.reverse %>
        <% @no+=1 %>
        <tr class="table-active" >
          <th scope="row"><h4><%= @no %><h4></th>
          <td><h4><%= link_to Team.find(i.first).name, team_path(Team.find(i.first)) %><h4></td>
          <td><h4><%= i.second %><h4></td>
        </tr>
      <% end%>
    <tbody>
  <table>
</section>
<br>
<br>
<br>
