<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Betting for <%=
    current_user.name + "!"
    %></p>
  </div>
</section>

<br>
<br>
<br>

<section class="container">
  <div class="row active-with-click">
      <div class="col-md-4 col-sm-6 col-xs-12">
       <%= @bet.team.name %>
       <%= @bet.post.title %>
       10
      </div>
    </div>
</section>
