<section class="container">
  <main role="main" class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <% if @count > 0 %>
          <p>Take me to a random unsold Participant! (Remaining : <%= @count%>)</p>
          <%= link_to "Next", random_select_path , { :class=>"btn btn-primary", :target=>"_blank", onClick: "openWindowReload(this)" } %>
        <% else %>
          <p>No unsold Participant :)</p>
          <%= link_to "Okay", root_path , { :class=>"btn btn-primary", :target=>"_blank" } %>
        <% end %>
      </div>
    </section>
  </main>
</section>
<script>
function openWindowReload(link) {
	var href = link.href;
	window.open(href,'_blank');
	document.location.reload(true)
}
</script>
