<section class="container">
<main role="main" class="container">
= simple_form_for @company do |f|
  = f.input :name
  = f.input :description

  = f.button :submit, class: "btn btn-primary"
</main>
</section>
