<section class="container">
<main role="main" class="container">
<h3>He's red in the cave and white on the ship.<br><br>
Oblivious to incest, oblivious to most things.<br><br>
Who is he?</h3><br>
= simple_form_for @cry do |f|
  = f.input :answer

  = f.button :submit, class: "btn btn-primary", label: "Decrypt!"
</main>
</section>
